# Health Stats Part 3: Waist 2 Hip Ratios

<!--- Write an explanation of the Waist To Hips Ratio statistic used by health professionals. Please include an explanation of what it is used for, exactly how it is calculated, and how to interpret the results. Note: Formmatting matters. Make this as professional as you can using Markdown.  --->
EDIT THIS MARKDOWN CELL

## Source Data

<!--- Replace the text below with a Markdown bullet list that defines the columns of the CSV file. Be sure to indicate the data type for each column. --->
EDIT THIS MARKDOWN CELL

## Data Import

In [1]:
# Goal: Extract the data from the file
import numpy as np
import pandas as pd

#bring in the file
rows = pd.read_csv('w2h_data.csv', dtype = {'ID': np.int32,'Waist': np.int32, 'Hip': np.int32, 'Gender': np.str})
#check it
#print(health)
#SFSG

#convert that stuff to DataFrame
#health1 = pd.DataFrame(health)
#check it
#print(health)
#rows = np.genfromtxt('w2h_data.csv',delimiter=',',names=True,dtype=[int,float,float,'U1'])

## Calculations

In [2]:
# Goal: For each row of data calculate and store the w2h_ratio and shape.
#w2h = health.loc["Waist"/"Hip"]
#print(w2h)





# calculate the waist to hips ratios
w2h_ratios = rows['Waist']/rows['Hip']
#print(w2h_ratios)
#SGSF
# determine who is male (True) or female (False)
males = (rows['Gender']=='M')
#print(males)
#SGSF
# males with w2h ration > 0.9 are apple shaped
male_apples = np.logical_and((w2h_ratios>0.9),males)
print(male_apples)
# females with w2h ratio > 0.8 are apple shaped
female_apples = np.logical_and((w2h_ratios>0.8),np.logical_not(males))

# combines the male_apples and female_apples
apples=np.logical_or(male_apples,female_apples)

# works like an if then else statement
shapes=np.where(apples,'Apple','Pear')

    
# add the two new columns
#results['W2H Ratio']=w2h_ratios
#results['Shape']=shapes
rows['W2H Ratio'] = w2h_ratios
#print(rows)
rows['Shapes'] = shapes
print(rows)
rows.style

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool
    ID  Waist  Hip Gender  W2H Ratio Shapes
0    1     30   32      M   0.937500  Apple
1    2     32   37      M   0.864865   Pear
2    3     30   36      M   0.833333   Pear
3    4     33   39      M   0.846154   Pear
4    5     29   33      M   0.878788   Pear
5    6     32   38      M   0.842105   Pear
6    7     33   42      M   0.785714   Pear
7    8     30   40      M   0.750000   Pear
8    9     30   37      M   0.810811   Pear
9   10     32   39      M   0.820513   Pear
10  11     24   35      F   0.685714   Pear
11  12     25   37      F   0.675676   Pear
12  13     24   37      F   0.648649   Pear
13  14     22   34      F   0.647059   Pear
14  15     26   38      F   0.684211   Pear
15  16     26   37      F   0.702703   Pear
16  17     25   38      F   0.657895   Pear
17  18     26   37      F   0.702703   Pear
18  19     28   40      F   0.700000   Pear
19  20     23   35      F   0.657143   Pear

## Output

Goal: pretty print the rows as an HTML table
rows.to_html('StatsResults.html')
Export to "StatsResults.csv"
np.savetxt("StatsResults.csv",results,fmt='%s',delimiter=',',header=','.join(results.dtype.names),comments="")



# Note: this works, but we can do this much better with pandas
#html_table = '<table><tr><th>'
#html_table += "</th><th>".join(rows.columns.values)
#html_table += '</th></tr>'
#for row in results:
    #html_table += "<tr><td>"
    #html_table += "</td><td>".join(str(v) for v in row)
    #html_table += "</td></tr>"
#html_table += "</table>"

#from IPython.display import HTML, display
#display(HTML(html_table))